:root {
  --icss-key: icss-value;
  --white-key: icss-white;
  --black-key: icss-black;
  --attachment-key: attachment-value;
  --size-key: icss-size-value;
  --ocss-key: ocss-value;
  --animation-duration-key: 0.5s;
  --animation-timing-key: cubic-bezier(0.4, 0, 0.2, 1);
  --blue60-saturate200: blur(60px) saturate(200%);
}

body > div > div > main > div#toolBarBox,
body > div > div > aside > div#asideWriteGuide,
body > div > div > aside > div.box-shadow,
body > div > div > aside > div#asideCategory,
body > div > div > aside > div#asideNewNps,
body > div > div > aside > div#asideArchive,
body > div > div > aside > div#footerRightAds,
body > div > div > main > div#recommendNps,
body > div > div > main > div.blog-footer-bottom,
body > div > div > div > div > div > div > div.toolbar-btn-vip,
body > div > div > div.sidetool-writeguide-box,
body > div.passport-login-tip-container,
body > div > div > div.toolbar-advert,
.hide {
  display: none;
  position: absolute;
  visibility: hidden;
}

#colorful-fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 2147483647;
  display: block;
  opacity: 1;
  background: linear-gradient(var(--white-key), var(--white-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}