:root {
  --icss-key: icss-value;
  --white-key: icss-white;
  --black-key: icss-black;
  --attachment-key: attachment-value;
  --size-key: icss-size-value;
  --ocss-key: ocss-value;
  --animation-duration-key: 0.5s;
  --animation-timing-key: cubic-bezier(0.4, 0, 0.2, 1);
  --blue60-saturate200: blur(60px) saturate(200%);
}

html[data-darktheme=true] {
  background-color: #6a6a6a !important;
}

#colorful-fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 2147483647;
  display: block;
  opacity: 1;
  background: linear-gradient(var(--white-key), var(--white-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}

#daumWrap._search_down > #daumHead {
  transition: opacity var(--animation-duration-key) var(--animation-timing-key), transform var(--animation-duration-key) var(--animation-timing-key);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  opacity: 0;
  transform: translate3d(0, -5px, 0);
  will-change: opacity, transform;
}
#daumWrap._search_down > #daumHead:hover {
  transition: opacity var(--animation-duration-key) var(--animation-timing-key), transform var(--animation-duration-key) var(--animation-timing-key);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  will-change: auto;
}