:root {
  --icss-key: icss-value;
  --white-key: icss-white;
  --black-key: icss-black;
  --attachment-key: attachment-value;
  --size-key: icss-size-value;
  --ocss-key: ocss-value;
  --animation-duration-key: 0.5s;
  --animation-timing-key: cubic-bezier(0.4, 0, 0.2, 1);
  --blue60-saturate200: blur(60px) saturate(200%);
}

div[data-testid=serp-popover-promo],
.hide {
  display: none;
  position: absolute;
  visibility: hidden;
}

html.dark-bg,
html.dark-bg div[data-testid=dropdown-options],
html.dark-bg div.modal__wrap > div.modal__box,
html.dark-bg div[role=presentation] > div[role=dialog] {
  background: linear-gradient(var(--black-key), var(--black-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}

html:not(.dark-bg),
html:not(.dark-bg) div[data-testid=dropdown-options],
html:not(.dark-bg) div.modal__wrap > div.modal__box,
html:not(.dark-bg) div[role=presentation] > div[role=dialog] {
  background: linear-gradient(var(--white-key), var(--white-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}

body,
*:before,
*:after,
div:has(> button > svg),
main > section,
section > div > div > div > div:has(> p),
.site-wrapper.js-site-wrapper,
#header_wrapper,
div.modal__wrap > div.modal__box > div.modal__header,
main {
  background: var(--ocss-key) !important;
}

div[role=menu] > div[role=menuitem] > div,
div:has(> textarea[name=user-prompt]) {
  background: var(--ocss-key) !important;
  backdrop-filter: blur(60px) saturate(500%) !important;
}