:root {
  --icss-key: icss-value;
  --white-key: icss-white;
  --black-key: icss-black;
  --attachment-key: attachment-value;
  --size-key: icss-size-value;
  --ocss-key: ocss-value;
  --animation-duration-key: 0.5s;
  --animation-timing-key: cubic-bezier(0.4, 0, 0.2, 1);
  --blue60-saturate200: blur(60px) saturate(200%);
}

html.dark,
html.dark div[role=dialog] > div:has(> div.settings-modal-content),
html.dark div[data-tippy-root] > div > div > div,
html.dark form > div:has(> div > textarea),
html.dark #chat-search,
html.dark .background-black {
  background: linear-gradient(var(--black-key), var(--black-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}

html.light,
html.light div[role=dialog] > div:has(> div.settings-modal-content),
html.light div[data-tippy-root] > div > div > div,
html.light form > div:has(> div > textarea),
html.light #chat-search,
html.light .background-white {
  background: linear-gradient(var(--white-key), var(--white-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}

body,
.app.relative > div.bg-white,
#sidebar,
div:has(> div > div > input[type=file]),
.bg-linear-to-b,
.transparent {
  background: var(--ocss-key) !important;
}

div[aria-labelledby=cookie-consent-title],
div[role=menu][data-state=open],
.blur-saturate500 {
  background: var(--ocss-key) !important;
  backdrop-filter: blur(60px) saturate(500%) !important;
}

.hide {
  display: none;
  position: absolute;
  visibility: hidden;
}