:root {
  --icss-key: icss-value;
  --white-key: icss-white;
  --black-key: icss-black;
  --attachment-key: attachment-value;
  --size-key: icss-size-value;
  --ocss-key: ocss-value;
  --animation-duration-key: 0.5s;
  --animation-timing-key: cubic-bezier(0.4, 0, 0.2, 1);
  --blue60-saturate200: blur(60px) saturate(200%);
}

body > #notion-app > .notion-dark-theme[class*=notion-dark-theme],
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] div[style*="background: rgb(25, 25, 25)"],
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-selectable-container > .peek-top-hover-area,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-peek-renderer > div,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .pseudoSelection,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-table-view-header-row,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-view-settings-sidebar,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-dark-theme,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-cursor-listener,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-print-ignore,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] .notion-sidebar-container,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] header,
body > #notion-app > .notion-dark-theme[class*=notion-dark-theme] #main,
body[class*=dark],
body[class*=dark] div[style*="background: rgb(25, 25, 25)"],
body[class*=dark] .notion-selectable-container > .peek-top-hover-area,
body[class*=dark] .notion-peek-renderer > div,
body[class*=dark] .pseudoSelection,
body[class*=dark] .notion-table-view-header-row,
body[class*=dark] .notion-view-settings-sidebar,
body[class*=dark] .notion-dark-theme,
body[class*=dark] .notion-cursor-listener,
body[class*=dark] .notion-print-ignore,
body[class*=dark] .notion-sidebar-container,
body[class*=dark] header,
body[class*=dark] #main {
  background: #6a6a6a !important;
  background-color: #6a6a6a !important;
}

#colorful-fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 2147483647;
  display: block;
  opacity: 1;
  background: linear-gradient(var(--white-key), var(--white-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}