:root {
  --icss-key: icss-value;
  --white-key: icss-white;
  --black-key: icss-black;
  --attachment-key: attachment-value;
  --size-key: icss-size-value;
  --ocss-key: ocss-value;
  --animation-duration-key: 0.5s;
  --animation-timing-key: cubic-bezier(0.4, 0, 0.2, 1);
  --blue60-saturate200: blur(60px) saturate(200%);
}

.hide {
  display: none;
  position: absolute;
  visibility: hidden;
}

html {
  --ty-background-primary: var(--ocss-key) !important;
}

html[data-theme=dark],
html[data-theme=dark] div[data-radix-popper-content-wrapper] > div[data-side=bottom][role=dialog][data-state=open] > div.bg-capsule,
html[data-theme=dark] div[data-radix-popper-content-wrapper] > div[data-radix-menu-content],
html[data-theme=dark] .codeAppSquareModal-modalContent,
html[data-theme=dark] .tongyiDI-view-container.text-area-slot-container > div[class^=inputOutWrap-],
html[data-theme=dark] .background-black {
  background: linear-gradient(var(--black-key), var(--black-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}

html[data-theme=light],
html[data-theme=light] div[data-radix-popper-content-wrapper] > div[data-side=bottom][role=dialog][data-state=open] > div.bg-capsule,
html[data-theme=light] div[data-radix-popper-content-wrapper] > div[data-radix-menu-content],
html[data-theme=light] .codeAppSquareModal-modalContent,
html[data-theme=light] .tongyiDI-view-container.text-area-slot-container > div[class^=inputOutWrap-],
html[data-theme=light] .background-white {
  background: linear-gradient(var(--white-key), var(--white-key)), var(--icss-key) !important;
  background-attachment: var(--attachment-key) !important;
  background-size: var(--size-key) !important;
  background-blend-mode: blend-mode-value;
}

body,
div[data-radix-popper-content-wrapper]:has(> div[data-radix-menu-content]),
.qw-md-code > div > div.bg-primary,
div[role=dialog][data-state=open] > .\!bg-capsule,
#message-list-scroller > div > div > div > div.bg-primary,
.bg-pc-sidebar,
#message-list-scroller > div,
#message-list-scroller > div > div > div[class^=mainContent-] > div[class^=guideComp-],
#ice-container > div.ant-app > div[data-content=content],
.tongyiDI-view-container.text-area-slot-container,
.tongyiDI-view-container.text-area-slot-container > div[class^=inputOutWrap-] > div[class^=inputContainer-],
#tongyi-content-wrapper > div[class^=container-],
#tongyi-content-wrapper > div[class^=container-] > div,
#tongyi-content-wrapper > div[class^=container-] > div[class*=agentHomePageContentWrap-] > div > div[class^=classify-] > div[class^=classifyContent-] > div[class^=customTabsNav-],
.transparent-tieniu {
  background: var(--ocss-key) !important;
}

button.bg-capsule,
div[data-chat-input-shell=true],
.blur-saturate500 {
  background: var(--ocss-key) !important;
  backdrop-filter: blur(40px) !important;
}